<!-- @format -->

<!DOCTYPE html>
<html
    lang="es"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    >
    <head>
        <meta charset="UTF-8" />
        <title>Test Listar Servicios</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
            />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"
            />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/servicio-cards.css" />
    </head>
    <body>
        <section id="home" class="hero-section pt-50">
            <div
                class="hero-section img-bg vh-100 pt-5"
                style="background-image: url('static/img/hero-bg.svg')"
                >
                <!-- mensaje de exito y error -->
                <div class="row">
                    <div
                        th:if="${error != null}"
                        class="card text-white bg-danger mb-3 mensajeError"
                        >
                        <div class="card-body">
                            <h5 class="card-title">Error!</h5>
                            <p class="card-text" th:text="${error}"></p>
                        </div>
                    </div>
                    <div
                        th:if="${exito != null}"
                        class="card text-white bg-success mb-3 mt-3 mensajeExito"
                        >
                        <div class="card-body">
                            <h5 class="card-title">Exito!</h5>
                            <p class="card-text" th:text="${exito}"></p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row-cols-1 d-flex justify-content-center">
                        <div class="col-md-12">
                            <h3 class="text-center mb-5">Listado de Profesionales</h3>
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-md-3 g-5">
                        <div
                            th:each="servicio, iterStat : ${servicios}"
                            class="col-lg-4 col-md-6 col-sm-12"
                            >
                            <div
                                class="card card_body shadow p-5 py-2 bg-body-tertiary rounded border-0"
                                >
                                <div class="card_header">
                                    <div class="row">
                                        <div
                                            th:text="${servicio.categoria.nombre}"
                                            class="text-center text-primary fs-4 pt-4 pb-1"
                                            ></div>
                                    </div>
                                    <div
                                        class="row align-self-center border-top border-primary py-3"
                                        >
                                        <div class="col-6 align-self-end">
                                            <img th:if="${servicio.proveedor.imagen != null}"
                                                 th:src="@{/imagen/usuario/__${servicio.proveedor.id}__}"
                                                 class="img_perfil align-self-end"
                                                 alt="imagen de perfil"/>
                                        </div>
                                        <div
                                            th:text="${servicio.proveedor.nombre}"
                                            class="col-6 align-self-center fs-5"
                                            ></div>
                                    </div>
                                    <div class="row border-top border-primary">
                                        <div
                                            th:text="${servicio.descripcion}"
                                            class="text-secundary descripcion-card py-2"
                                            ></div>
                                    </div>
                                    <div
                                        th:if="${servicio.matricula != null}"
                                        class="row border-top border-primary"
                                        >
                                        <div class="col-7 py-2">Matricula:</div>
                                        <div class="col-5 py-2">
                                            <button
                                                class="btn btn-sm boton-card"
                                                data-bs-toggle="modal"
                                                th:data-bs-target="'#exampleModal_' + ${iterStat.index}"
                                                >
                                                Ver Matricula
                                            </button>
                                        </div>
                                    </div>
                                    <!-- Modal -->
                                    <div
                                        class="modal fade"
                                        th:id="'exampleModal_' + ${iterStat.index}"
                                        tabindex="-1"
                                        aria-labelledby="exampleModalLabel"
                                        aria-hidden="true"
                                        >
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                                                        Matricula profesional
                                                    </h1>
                                                    <button
                                                        type="button"
                                                        class="btn-close"
                                                        data-bs-dismiss="modal"
                                                        aria-label="Close"
                                                        ></button>
                                                </div>
                                                <div class="modal-body text-center">
                                                    <img
                                                        th:src="@{/imagen/matricula/__${servicio.id}__}"
                                                        class="img-matricula"
                                                        alt="imagen de matricula"
                                                        />
                                                </div>
                                                <div class="modal-footer">
                                                    <button
                                                        type="button"
                                                        class="btn btn-secondary"
                                                        data-bs-dismiss="modal"
                                                        >
                                                        Close
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row border-top border-primary">
                                        <div class="col-7 py-2">Honorarios p/ hora:</div>
                                        <div class="col-5 py-2">
                                            <b>$</b><b th:text="${servicio.honorariosHora}"></b>
                                        </div>
                                    </div>
                                    <div class="row border-top py-2">
                                        <div class="col-7 align-self-end">
                                            Calificación Proveedor:
                                        </div>
                                        <div class="col-5">
                                            <b>
                                                <i
                                                    th:each="estrellita : ${#numbers.sequence(1, 5)}"
                                                    th:class="${estrellita le puntuaciones[iterStat.index]} ? 'bi bi-star-fill' : 'bi bi-star'"
                                                    ></i>
                                            </b>
                                        </div>
                                    </div>
                                    <div class="row border-top py-2">
                                        <div class="col-12 py-2 text-center">
                                            <button
                                                class="btn btn-sm btn-primary"
                                                data-bs-toggle="modal"
                                                data-bs-target="#exampleModal"
                                                >
                                                Contratar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--		<style>-->
        <!--			.img_perfil {-->
        <!--				width: 60px;-->
        <!--				height: 60px;-->
        <!--				border: 2px solid rgb(169, 212, 241);-->
        <!--				border-radius: 50%;-->
        <!--				overflow: hidden;-->
        <!--			}-->
        <!--			.img-matricula {-->
        <!--				width: 300px;-->
        <!--			}-->
        <!--		</style>-->

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
