<div class="container bootdey">
  <section class="col-md-12">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="card">
          <div class="card-header">
            <div class="card-header-menu">
              <i class="fa fa-bars"></i>
            </div>
            <div class="card-header-headshot"></div>
          </div>
          <div class="card-content">
            <div class="card-content-member">
              <h4 class="m-t-0">Juan Perez</h4>
              <p class="m-0"><i class="pe-7s-map-marker"></i>Argentina</p>
            </div>
            <div class="card-content-languages">
              <div class="card-content-languages-group">
                <div>
                  <h4>PROFESION:</h4>
                </div>
                <div>
                  <ul>
                    <li>
                      PLOMERO
                      <div class="fluency fluency-4"></div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="card-content-languages-group">
                <div>
                  <h4>Servicios</h4>
                </div>
                <div>
                  <ul>
                    <li>
                      Plomería comercial: Trabajamos con empresas y edificios
                      comerciales para el mantenimiento y reparación de sistemas
                      de plomería.
                    </li>
                    <li>
                      Plomería de emergencia: Estamos disponibles las 24 horas
                      del día, los 7 días de la semana para atender emergencias
                      de plomería, como fugas o obstrucciones.
                    </li>
                    <li>
                      Plomería verde: Utilizamos técnicas y materiales
                      ecológicos para reducir el impacto ambiental de nuestro
                      trabajo.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-content-summary">
              <p>
                Plomería de confianza para proyectos grandes Más de 20 años de
                experiencia en edificaciones de gran envergadura. Reparaciones,
                instalaciones, mantenimiento y renovaciones. Trabajos de alta
                calidad, garantizados. Contacte hoy y reciba un presupuesto sin
                compromiso.
              </p>
            </div>
          </div>
          <div class="card-footer">
            <div class="card-footer-stats">
              <div>
                <p>PROYECTOS:</p>
                <i class="fa fa-users"></i><span>241</span>
              </div>
              <div>
                <p>MENSAJES:</p>
                <i class="fa fa-coffee"></i><span>350</span>
              </div>
              <div>
                <p>Ultima vez conectado</p>
                <span class="stats-small">3 days ago</span>
              </div>
            </div>
            <div class="card-footer-message">
              <h4><i class="fa fa-comments"></i> Message me</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-8">
        <div class="review-block">
          <div class="row">
            <div class="col-sm-3">
              <div class="review-block-img">
                <img
                  src="https://bootdey.com/img/Content/avatar/avatar6.png"
                  class="img-rounded"
                  alt=""
                />
              </div>
              <div class="review-block-name"><a href="#">Juan Perez</a></div>
              <div class="review-block-date">
                January 29, 2016<br />1 day ago
              </div>
            </div>
            <div class="col-sm-9">
              <div class="review-block-rate">
                <button
                  type="button"
                  class="btn btn-success btn-xs"
                  aria-label="Left Align"
                >
                  <span
                    class="glyphicon glyphicon-star"
                    aria-hidden="true"
                  ></span>
                </button>
                <button
                  type="button"
                  class="btn btn-success btn-xs"
                  aria-label="Left Align"
                >
                  <span
                    class="glyphicon glyphicon-star"
                    aria-hidden="true"
                  ></span>
                </button>
                <button
                  type="button"
                  class="btn btn-success btn-xs"
                  aria-label="Left Align"
                >
                  <span
                    class="glyphicon glyphicon-star"
                    aria-hidden="true"
                  ></span>
                </button>
                <button
                  type="button"
                  class="btn btn-default btn-xs"
                  aria-label="Left Align"
                >
                  <span
                    class="glyphicon glyphicon-star"
                    aria-hidden="true"
                  ></span>
                </button>
                <button
                  type="button"
                  class="btn btn-default btn-xs"
                  aria-label="Left Align"
                >
                  <span
                    class="glyphicon glyphicon-star"
                    aria-hidden="true"
                  ></span>
                </button>
              </div>
              <div class="review-block-title">
                Ha realizado el trabajo en forma muy rapida y profesional
              </div>
              <div class="review-block-description">
                Juan es un plomero experimentado y profesional. Llegó a tiempo
                para la cita, evaluó el trabajo que necesitaba hacerse y me
                proporcionó un presupuesto claro y conciso. Durante el trabajo,
                Juan fue muy respetuoso de mi propiedad y me mantuvo informado
                de su progreso.
              </div>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <div class="review-block-img">
                <img
                  src="https://bootdey.com/img/Content/avatar/avatar6.png"
                  class="img-rounded"
                  alt=""
                />
              </div>
              <div class="review-block-name"><a href="#">Pedro Lopez</a></div>
              <div class="review-block-date">
                27 de Noviembre 2023<br />Hace un dia
              </div>
            </div>
            <div class="col-sm-9">
              <div class="review-block-rate">
                <button
                  type="button"
                  class="btn btn-success btn-xs"
                  aria-label="Left Align"
                >
                  <span
                    class="glyphicon glyphicon-star"
                    aria-hidden="true"
                  ></span>
                </button>
                <button
                  type="button"
                  class="btn btn-success btn-xs"
                  aria-label="Left Align"
                >
                  <span
                    class="glyphicon glyphicon-star"
                    aria-hidden="true"
                  ></span>
                </button>
                <button
                  type="button"
                  class="btn btn-success btn-xs"
                  aria-label="Left Align"
                >
                  <span
                    class="glyphicon glyphicon-star"
                    aria-hidden="true"
                  ></span>
                </button>
                <button
                  type="button"
                  class="btn btn-default btn-xs"
                  aria-label="Left Align"
                >
                  <span
                    class="glyphicon glyphicon-star"
                    aria-hidden="true"
                  ></span>
                </button>
                <button
                  type="button"
                  class="btn btn-default btn-xs"
                  aria-label="Left Align"
                >
                  <span
                    class="glyphicon glyphicon-star"
                    aria-hidden="true"
                  ></span>
                </button>
              </div>
              <div class="review-block-title">
                No termino a tiempo de lo pactado
              </div>
              <div class="review-block-description">
                Juan se retrasó en la finalización del trabajo, lo que me causó
                inconvenientes. El baño y la cocina no estaban listos para que
                yo me mudara a la casa, y tuve que esperar varias semanas para
                que el trabajo se terminara.
              </div>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <div class="review-block-img">
                <img
                  src="https://bootdey.com/img/Content/avatar/avatar6.png"
                  class="img-rounded"
                  alt=""
                />
              </div>
              <div class="review-block-name"><a href="#">Alicia</a></div>
              <div class="review-block-date">
                20 Julio 2023<br />hace 5 meses
              </div>
            </div>
            <div class="col-sm-9">
              <div class="review-block-rate">
                <button
                  type="button"
                  class="btn btn-success btn-xs"
                  aria-label="Left Align"
                >
                  <span
                    class="glyphicon glyphicon-star"
                    aria-hidden="true"
                  ></span>
                </button>
                <button
                  type="button"
                  class="btn btn-success btn-xs"
                  aria-label="Left Align"
                >
                  <span
                    class="glyphicon glyphicon-star"
                    aria-hidden="true"
                  ></span>
                </button>
                <button
                  type="button"
                  class="btn btn-success btn-xs"
                  aria-label="Left Align"
                >
                  <span
                    class="glyphicon glyphicon-star"
                    aria-hidden="true"
                  ></span>
                </button>
                <button
                  type="button"
                  class="btn btn-default btn-xs"
                  aria-label="Left Align"
                >
                  <span
                    class="glyphicon glyphicon-star"
                    aria-hidden="true"
                  ></span>
                </button>
                <button
                  type="button"
                  class="btn btn-default btn-xs"
                  aria-label="Left Align"
                >
                  <span
                    class="glyphicon glyphicon-star"
                    aria-hidden="true"
                  ></span>
                </button>
              </div>
              <div class="review-block-title">
                Se ha retrazado mucho en terminar lo pactado
              </div>
              <div class="review-block-description">
                El trabajo de Juan fue de mala calidad. Las tuberías estaban mal
                colocadas, lo que causó fugas y obstrucciones. Además, Pedro no
                cumplió con los plazos de entrega. Tuvimos que contratar a otro
                plomero para que reparara el trabajo de Pedro. Esto nos costó
                mucho tiempo y dinero.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
