<!-- @format -->

<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<title>servicio</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="stylesheet" href="assets/css/bootstrap-5.0.0-beta1.min.css" />
		<link rel="stylesheet" href="assets/css/style.css" />
	</head>
	<body>
		<section id="home" class="hero-section-wrapper-5">
			<!--header -->
			<header class="header header-6">
				<div class="navbar-area">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-lg-12">
								<!-- navbar -->
								<nav class="navbar navbar-expand-lg">
									<a class="navbar-brand" href="index.html">
										<img src="assets/img/logo2.png" alt="Logo" />
									</a>
									<button
										class="navbar-toggler"
										type="button"
										data-bs-toggle="collapse"
										data-bs-target="#navbarSupportedContent6"
										aria-controls="navbarSupportedContent6"
										aria-expanded="false"
										aria-label="Toggle navigation"
									>
										<span class="toggler-icon"></span>
										<span class="toggler-icon"></span>
										<span class="toggler-icon"></span>
									</button>

									<div
										class="collapse navbar-collapse sub-menu-bar"
										id="navbarSupportedContent6"
									>
										<ul id="nav6" class="navbar-nav ms-auto">
											<li class="nav-item">
												<a class="page-scroll active" href="#home">Home</a>
											</li>
											<li class="nav-item">
												<a class="page-scroll" href="#feature">Nosotros</a>
											</li>
											<li class="nav-item">
												<a class="page-scroll" href="#about">Servicios</a>
											</li>

											<li class="nav-item">
												<a class="page-scroll" href="#pricing">Perfil</a>
											</li>
											<li class="nav-item">
												<a class="page-scroll" href="#contact">Login</a>
											</li>
										</ul>
									</div>

									<div class="header-action d-flex">
										<a href="#0"> <i class="lni lni-cart"></i> </a>
										<a href="#0"> <i class="lni lni-alarm"></i> </a>
									</div>
									<!-- navbar  -->
								</nav>
								<!-- navbar -->
							</div>
						</div>
					</div>
					<!-- container -->
				</div>
			</header>

			<div
				class="hero-section hero-style-5 img-bg"
				style="background-image: url('assets/img/hero-bg.svg')"
			>
				<div class="container">
					<div class="card p-5 mb-5">
						<h2 class="text-center">Registrar Usuario</h2>
						<div class="row">
							<form class="row g-6" action="#" id="formulario" onsubmit="detenerEnvio(event)" method="post">
								<div class="col-md-6">
									<div>
										<label for="inputNombre" class="form-label"
											>Apellido y Nombre</label
										>
										<input
											type="text"
											class="form-control"
											id="inputNombre"
											placeholder="Ingrese Apellido y Nombre"
											name="nombreCompleto"
										/>
									</div>

									<div>
										<label for="inputPassword4" class="form-label"
											>Contraseña</label
										>
										<input
											type="password"
											class="form-control"
											´placeholder="Ingrese Contraseña"
											id="inputPassword4"
											placeholder="Ingrese Contraseña"
											name="passwowrd"
										/>
									</div>
									<div>
										<label for="inputAddress" class="form-label"
											>Ubicacion</label
										>
										<input
											type="text"
											class="form-control"
											id="inputAddress"
											placeholder="Ingrese Ubicacion"
											name="ubicacion"
										/>
									</div>
								</div>
								<div class="col-md-6">
									<div>
										<label for="inputNombreUsuario" class="form-label"
											>Nombre de Usuario</label
										>
										<input
											type="text"
											class="form-control"
											id="inputNombreUsuario"
											placeholder="Ingrese Nombre Usuario"
											name="nombreUsuario"
										/>
									</div>
									<div>
										<label for="inputPassword5" class="form-label"
											>Repetir Contraseña</label
										>
										<input
											type="password"
											class="form-control"
											placeholder="Repetir Contraseña"
											id="inputPassword5"
											name="passwowrd2"
										/>
									</div>

									<div>
										<label for="inputEmail4" class="form-label">Email</label>
										<input
											type="email"
											class="form-control"
											id="inputEmail4"
											placeholder="Ingrese Email"
											name="mail"
										/>
									</div>
								</div>
								<div class="col-12">
									<button class="btn btn-primary" onclick="servic()">Soy Proveedor</button>
								</div>
								<div class="col-md-6"  id="foto">
									<label for="inputFoto" class="form-label" >Ingrese foto</label>
									<input type="file" class="form-control" id="inputFoto" disabled/>
								</div>
								<div class="col-md-6"  id="proveedor">
									<label for="inputState" class="form-label">Servicio</label>
									<select id="selectServicio" class="form-select" name="servicios" disabled>
										<option>Gasista</option>
										<option>Plomero</option>
										<option>Electricista</option>
										<option>Cerrajeria</option>
									</select>
								</div>
								<div class="col-md-6"  id="contacto">
									<div>
										<label for="inputContacto" class="form-label"
											>Contacto</label
										>
										<input
											type="text"
											class="form-control"
											id="inputContacto"
											placeholder="Ingrese celular/tel"
											name="nombreContacto"
											disabled
										/>
									</div>
								</div>
								<div class="col-md-6"  id="descripcion">
									<div>
										<label for="inputDescripcion" class="form-label"
											>Descripcion Servicio</label
										>
										<textarea
											class="form-control"
											id="inputDescripcion"
											placeholder="Ingrese Descripcion"
											name="descripcion"
											rows="5"
											disabled
										></textarea>
									</div>
								</div>

								<div class="col-12">
									<button type="submit" onclick="enviarFormulario()"class="btn btn-primary">Enviar</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>

		<footer class="footer footer-style-4">
			<div class="container">
				<div class="widget-wrapper">
					<div class="row">
						<div class="col-xl-3 col-lg-4 col-md-6">
							<div class="footer-widget wow fadeInUp" data-wow-delay=".2s">
								<div class="logo">
									<a href="#0">
										<img src="assets/img/logo/logo.svg" alt="" />
									</a>
								</div>
								<p class="desc">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									Facilisis nulla placerat amet amet congue.
								</p>
								<ul class="socials">
									<li>
										<a href="#0"> <i class="lni lni-facebook-filled"></i> </a>
									</li>
									<li>
										<a href="#0"> <i class="lni lni-twitter-filled"></i> </a>
									</li>
									<li>
										<a href="#0"> <i class="lni lni-instagram-filled"></i> </a>
									</li>
									<li>
										<a href="#0"> <i class="lni lni-linkedin-original"></i> </a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-xl-2 offset-xl-1 col-lg-2 col-md-6 col-sm-6">
							<div class="footer-widget wow fadeInUp" data-wow-delay=".3s">
								<h6>Quick Link</h6>
								<ul class="links">
									<li><a href="#0">Home</a></li>
									<li><a href="#0">Nosotros</a></li>
									<li><a href="#0">servicios</a></li>
									<li><a href="#0">Perfil</a></li>
									<li><a href="#0">Login</a></li>
								</ul>
							</div>
						</div>
						<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
							<div class="footer-widget wow fadeInUp" data-wow-delay=".4s">
								<h6>Services</h6>
								<ul class="links">
									<li><a href="#0">Plomeria</a></li>
									<li><a href="#0">Gasistas</a></li>
									<li><a href="#0">Electricidad</a></li>
									<li><a href="#0">Cerrajeria</a></li>
								</ul>
							</div>
						</div>
						<div class="col-xl-3 col-lg-3 col-md-6"></div>
					</div>
				</div>
				<div class="copyright-wrapper wow fadeInUp" data-wow-delay=".2s">
					<p>
						Design and Equipo 8
						<a href="/" rel="nofollow" target="_blank">Design by Equipo 8</a>
					</p>
				</div>
			</div>
		</footer>

		<a href="#" class="scroll-top"> <i class="lni lni-chevron-up"></i> </a>

		<script src="assets/js/bootstrap-5.0.0-beta1.min.js"></script>
	</body>
	<script>
		var noEnviar=true;
		function servic(){
			document.getElementById("selectServicio").disabled = false;
			document.getElementById("inputFoto").disabled = false;
			document.getElementById("inputContacto").disabled = false;
			document.getElementById("inputDescripcion").disabled = false;
			document.getElementById("foto").style.display='block';
			document.getElementById("proveedor").style.display='block';
			document.getElementById("descripcion").style.display='block';
			document.getElementById("contacto").style.display='block';

		}
		function detenerEnvio(event){
			if(noEnviar){
			event.preventDefault();
			}
		}
		function enviarFormulario(){
			noEnviar=false;
			document.getElementById("formulario").submit();
		}
	</script>
</html>
