<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/global.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/reparApp.css" />
  </head>
  <body>
    <div class="comofunciona">
      <div class="typecentered-nav">
        <div class="brand">
          <img class="icon" alt="" src="../static/img/icon.svg" />

          <div class="brandname">ReparApp</div>
        </div>
        <div class="nav-links">
          <div class="text-container">
            <div class="cta">Find Your Specialist</div>
          </div>
        </div>
        <div class="nav-links1">
          <div class="nav-link">
            <div class="cta">Dashboard</div>
          </div>
          <div class="nav-link">
            <div class="cta">Services</div>
          </div>
          <div class="nav-link">
            <div class="cta">Profiles</div>
          </div>
        </div>
      </div>
      <div class="typefull-size-inverted">
        <div class="copy-container">
          <div class="copy-component">
            <div class="heading-text">
              <b class="heading">Bienvenido a ReparApp</b>
              <div class="subheading">
                Tu mejor solucion para reparaciones del hogar
              </div>
            </div>
            <div class="cta-button">
              <div class="text-container">
                <div class="cta1">Comienza aqui</div>
              </div>
            </div>
          </div>
        </div>
        <div class="image-container">
          <img
            class="image-dalle"
            alt=""
            src="../static/img/image  --dalle.png"   
          />
        </div>
      </div>
      <div class="typebento-box-2">
        <div class="content">
          <div class="heading-container">
            <b class="sign-up-heading">Vistas de los perfiles</b>
            <div class="subheading1">
              Roles diferentes, funcionalidades unicas
            </div>
          </div>
          <div class="cards">
            <div class="cards-row">
              <div class="feature-card">
                <img
                  class="image-aisplash"
                  alt=""
                  src="../static/img/image  --dalle1.png"
                />

                <div class="content1">
                  <div class="copy">
                    <div class="card-title">Perfil Cliente</div>
                    <div class="card-description">
                      Visualiza las ofertas de acuerdo a sus necesidades
                    </div>
                  </div>
                </div>
              </div>
              <div class="feature-card">
                <img
                  class="image-aisplash"
                  alt=""
                  src="../static/img/image--dalle2@2x.png"
                />

                <div class="content1">
                  <div class="copy">
                    <div class="card-title">Perfil Proveedor</div>
                    <div class="card-description">
                      Acceda a sus contratos con su ID de Proveedor
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="cards-row">
              <div class="feature-card">
                <img
                  class="image-aisplash"
                  alt=""
                  src="../static/img/image--aisplash@2x.png"
                />

                <div class="content1">
                  <div class="copy">
                    <div class="card-title">Perfil Administrador</div>
                    <div class="card-description">
                      Gestiona usuarios, servicios, ofertas y resenias.
                    </div>
                  </div>
                </div>
              </div>
              <div class="feature-card">
                <img
                  class="image-aisplash"
                  alt=""
                  src="../static/img/image--aisplash1@2x.png"
                />

                <div class="content1">
                  <div class="copy">
                    <div class="card-title">Informacion Personal</div>
                    <div class="card-description">
                      Modifica tu informacion personal
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="typesingle-column">
        <div class="container">
          <div class="copy-component1">
            <div class="heading-text">
              <b class="heading2"> Empieza con ReparApp</b>
              <div class="subheading2">
                Gestiona las reparaciones de tu hogar eficientemente
              </div>
            </div>
            <div class="cta-button1">
              <div class="text-container">
                <div class="cta1">Unite ahora</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="property-1steps-grid">
        <div class="heading-wrapper-wrapper">
          <div class="heading-wrapper">
            <div class="heading-container1">
              <img
                class="image-aisplash2"
                alt=""
                src="../static/img/image--aisplash2@2x.png"
              />

              <div class="copy-component2">
                <div class="heading-text">
                  <b class="heading3">Como funciona </b>
                  <div class="subheading1">
                    Connectando clientes con profesionales
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container1">
        <div class="copy-component3">
          <b class="heading4">1</b>
          <div class="subheading-parent">
            <div class="name">Paso Inicial</div>
            <div class="subheading2">Crea tu cuenta y completa tus datos.</div>
          </div>
        </div>
        <div class="copy-component3">
          <b class="heading4">2</b>
          <div class="subheading-parent">
            <div class="name">Paso Intermedio</div>
            <div class="subheading2">Solicita los servicios que necesitas.</div>
          </div>
        </div>
        <div class="copy-component3">
          <b class="heading4">3</b>
          <div class="subheading-parent">
            <div class="name">Paso Final</div>
            <div class="subheading2">Visualiza y gestiona tus solicitudes.</div>
          </div>
        </div>
      </div>
      <img
        class="sign-up-image-dalle"
        alt=""
        src="../static/img/sign-up-image--dalle@2x.png"
      />

      <div class="property-1big-image-wrapper">
        <div class="property-1big-image">
          <div class="sign-up-container">
            <div class="copy-component6">
              <div class="heading-container2">
                <b class="sign-up-heading">Crea tu cuenta</b>
                <div class="subheading2">Unete a la comunidad de ReparApp</div>
              </div>
              <div class="form">
                <div class="input">
                  <div class="label">Direccion de Email</div>
                  <div class="input-form">
                    <div class="text-container3">
                      <div class="placeholder-text">Imgresa tu Email</div>
                    </div>
                  </div>
                </div>
                <div class="button">
                  <div class="text-container4">
                    <div class="cta3">Continue with Email</div>
                  </div>
                </div>
              </div>
              <div class="by-continuing-you">
                By continuing you agree to our Terms of Service and Privacy
                Policy
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="equipo-wrapper">
        <div class="equipo">
          <div class="copy-component7">
            <div class="heading-text">
              <b class="heading2">Conoce a los profecionales de ReparApp </b>
              <div class="subheading2">
                Profesionales dedicados a tu servicio
              </div>
            </div>
          </div>
          <div class="team-list">
            <div class="team-member">
              <img
                class="avatar-aisplashavatars-icon"
                alt=""
                src="../static/img/avatar-aisplashavatars@2x.png"
              />

              <div class="info">
                <div class="name">Cliente</div>
                <div class="job-title">Busqueda de Profesionales</div>
              </div>
            </div>
            <div class="team-member">
              <img
                class="avatar-aisplashavatars-icon"
                alt=""
                src="../static/img/avatar-aisplashavatars1@2x.png"
              />

              <div class="info">
                <div class="name">David Hurgado</div>
                <div class="job-title">Gasista-Electricista</div>
              </div>
            </div>
            <div class="team-member">
              <img
                class="avatar-aisplashavatars-icon"
                alt=""
                src="../static/img/avatar-aisplashavatars2@2x.png"
              />

              <div class="info">
                <div class="name">Jose Callo</div>
                <div class="job-title">Platform Manager</div>
              </div>
            </div>
            <div class="team-member">
              <img
                class="avatar-aisplashavatars-icon"
                alt=""
                src="../static/img/avatar-aisplashavatars3@2x.png"
              />

              <div class="info">
                <div class="name">Juan Chi</div>
                <div class="job-title">Plomero</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="typemega-menu-inverted-wrapper">
        <div class="typemega-menu-inverted">
          <div class="content5">
            <div class="brand-parent">
              <div class="brand1">
                <img class="icon1" alt="" src="../static/img/icon1.svg" />

                <div class="brandname">ReparApp</div>
              </div>
              <div class="brandname2">Home Repairs Simplified</div>
            </div>
            <div class="links">
              <div class="list">
                <div class="brandname">Company</div>
                <div class="list-link-item">About</div>
                <div class="list-link-item">Careers</div>
                <div class="list-link-item">Newsroom</div>
              </div>
              <div class="list">
                <div class="brandname">ReparApp Features</div>
                <div class="list-link-item">Fast Service</div>
                <div class="list-link-item">Profile Cards</div>
                <div class="list-link-item">Latest Updates</div>
              </div>
              <div class="list">
                <div class="brandname">Social</div>
                <div class="list-link-item">Twitter</div>
                <div class="list-link-item">Instagram</div>
                <div class="list-link-item">Threads</div>
              </div>
              <div class="list">
                <div class="brandname">Legal</div>
                <div class="list-link-item">Terms</div>
                <div class="list-link-item">Privacy</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
